<header class="bg-white fixed-top">
  <div class="container header-height ">
      <nav class="navbar navbar-expand-md navbar-light bg-white">
          <div class="container-fluid">
            <a href="/#" class="navbar-brand"> <span class="brand"><span class="fa fa-laptop"></span></span> <span class="brand"> Shyam R Manaveedan</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav navbar-position menu-font">
                <li class="nav-item">
                  <a class="nav-link active nav-link-color" aria-current="page" href="/#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-color" href="/#services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-color" href="/blog/">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-color" href="/#about">About</a>
                </li>
                <li class="nav-item">
                  <div class="dropdown">
                    <a class="nav-link nav-link-color dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Social Media</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li>
                        <div class="row">
                          <div class="col-2">
                            <a href="https://www.facebook.com/Shyamrahul7" class="navbar-dropdown-icon"><i class="fa-brands fa-facebook-square"></i></a>
                          </div>
                          <div class="col-10">
                            <a href="https://www.facebook.com/Shyamrahul7" class="nav-link-color navbar-dropdown-text"><p>Facebook</a></p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-2">
                        <a href="https://www.linkedin.com/in/shyam-r-manaveedan" class="navbar-dropdown-icon"><i class="fa-brands fa-linkedin"></i></a>
                      </div>
                        <div class="col-10">
                          <a href="https://www.linkedin.com/in/shyam-r-manaveedan" class="nav-link-color navbar-dropdown-text"><p>Linkedin</a></p>
                        </div>
                      </div>
                    </li>
                      <li>
                        <div class="row">
                          <div class="col-2">
                            <a href="https://instagram.com/shyam_r_manaveedan?utm_medium=copy_link" class="navbar-dropdown-icon"><i class="fa-brands fa-instagram"></i></a>
                          </div>
                          <div class="col-10">
                            <a href="https://instagram.com/shyam_r_manaveedan?utm_medium=copy_link" class="nav-link-color navbar-dropdown-text"><p>Instagram</a></p>
                          </div>
                         </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-2">
                        <a href="https://twitter.com/shyamrahul7?t=3k99sUtLhyT_qeBEppo42g&s=08" class="navbar-dropdown-icon"><i class="fa-brands fa-twitter"></i></a>
                      </div>
                        <div class="col-10">
                          <a href="https://twitter.com/shyamrahul7?t=3k99sUtLhyT_qeBEppo42g&s=08" class="nav-link-color navbar-dropdown-text"><p>Twitter</a></p>
                        </div>
                      </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
</header>
