---
title: Oops! Not Found
permalink: 404.html
layout: base.njk
---

<section class="oops-not-found-head-padding-top">
      <div class="container">
          <h2 class="title oops-not-found-heading text-center">{{ title }}</h2>
          <div class="row">
              <div class="col-12 text-center">
                  <p class="oops-not-found-message">This is where you should tell the user how to find their content. Maybe on the <a class="oops-not-found-home-page" href="{{ "/" | url }}">home page?</a></p>
              </div>
          </div>
      </div>
</section>

<div class="row space"></div>
<div class="row space"></div>

<!-- Footer -->

<footer class="body-footer">
  <div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">

        <p class="copyright">&copy; Copyright <script>document.write(new Date().getFullYear())</script></p>
      </div>
    </div>
  </div>
  <button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-angle-up"></span>
  </button>
</footer>
